<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Getting My Feet Wet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

    <header class="blog-header">
        <h1>Pursuing Data</h1>
    </header>

    <div class="container">
        <main>
            <h2 class="visuallyhidden">Articles</h2>

            <article>
                <header>
                    <h2>Getting My Feet Wet</h2>
                    <time datetime="2018-02-26T22:49">Feb 26</time>
                </header>

                <img src="/img/hot.jpg" alt="Thermometer with shining sun background">

                <p>
                    The first project we were required to complete for the Data Analyst Nanodegree (DAND) was one that asked us to examine trends in global temperatures.
                    This introduced us to the use of SQL, asked us to graph results in Excel, and display the results and analysis in a report.
                    Perhaps the part that I enjoyed most about this project was getting confirmation that the data analysis skills that I had developed,
                    many just as my intuition led me in the course of my work, was on track with what was typically done.
                    It was encouraging to realize that my self-taught skills WERE relevant in the formal world of data analysis.
                </p>
                <p>
                    For the full details of the project, including the statistical analysis used to confirm the observations,
                    you can check it out in it's <a href = "https://github.com/rebeccaebarnes/DAND-Project-1/blob/master/Project%201%20DAND%20REB.pdf">repo</a>.
                    I would like to have displayed an overview of the project here, but I was have some broken link issues with some of the images.
                    If I fix it, they will be back here!
                </p>
            </article>
        </main>

        <aside>

            <div class="sidebar-text">
                <h3><a href="https://rebeccaebarnes.github.io">Home</a></h3>

                <h3>Page Navigation</h3>
                <div class="PageNavigation">
                    {% if page.previous.url %}
                        <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
                    {% endif %}
                    {% if page.next.url %}
                        <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
                    {% endif %}
                </div>
            </div>
        </aside>
    </div>

    <footer>
    <ul>
        <a href="https://github.com/rebeccaebarnes">github.com/rebeccaebarnes</a>
        <p>The design of this site was gratefully created through a fork of the Udacity <a href="https://github.com/udacity/course-git-blog-project">course-git-blog-project</a> repo.</p>
    </ul>
    </footer>

    <script src="js/app.js"></script>
</body>
</html>
