<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Presenting Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

    <header class="blog-header">
        <h1>Pursuing Data</h1>
    </header>

    <div class="container">
        <main>
            <h2 class="visuallyhidden">Articles</h2>

            <article>
                <header>
                    <h2>Presenting Data</h2>
                    <time datetime="2018-03-01T22:49">Mar 1</time>
                </header>

                <img src="/img/graphs.jpg" alt="Pointing to transparent graphs">

                <p>
                    Just some thoughts while I've been working through the DAND course.
                    The final project that is submitted at the end of Term 2 is a visualization of story of data analysis with the use of <a href = "https://www.tableau.com/">Tableau</a>.
                    Students who have been completing their final project have been posting them and asking for feedback on their capacity to tell a story.
                    Tableau is pretty cool and can do all sorts of fancy things, but something that has been fascinating to me is realizing how deceptively tricky it is to tell a data story.
                    Especially if you can't speak to what you are presenting, the user needs to understand it just from what is there, with limited additional text.
                </p>
                <p>
                    At the same time as the student presentations started popping up, I came across this <a href = "https://hbr.org/2014/12/rethink-what-you-know-about-high-achieving-women">HBR article</a>.
                    It looks at the variables that compares the amount male and female Harvard MBA grads working in 'high responsibility' positions, and the factors that appear to impact this.
                    While the subject matter is of interest to me, what I found more interesting was their presentation of data and analysis.
                    In reading the article it was obvious that they had conducted incredibly sophisticated analyses, but they never got caught in the weeds, whether it was in the details of the analysis, or in the presentation of the data.
                    It's fascinating to realize how possible it is to present complicated concepts in a simple fashion if you really work on it! Definitely something to aspire to. :)
                </p>
                <p>
                    This is one of the very simple, but strongly communicative, graphs that they presented.
                </p>

                <img src="/img/hbr-article-chart.png" alt="Graph from HBR article">
            </article>
        </main>

        <aside>

            <div class="sidebar-text">
                <h3><a href="https://rebeccaebarnes.github.io">Home</a></h3>
                <div class="PageNavigation">
                    {% if page.previous.url %}
                        <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
                    {% endif %}
                    {% if page.next.url %}
                        <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
                    {% endif %}
                </div>
            </div>
        </aside>
    </div>

    <footer>
    <ul>
        <a href="https://github.com/rebeccaebarnes">github.com/rebeccaebarnes</a>
        <p>The design of this site was gratefully created through a fork of the Udacity <a href="https://github.com/udacity/course-git-blog-project">course-git-blog-project</a> repo.</p>
    </ul>
    </footer>

    <script src="js/app.js"></script>
</body>
</html>
