<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>How Did I Get Here?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

    <header class="blog-header">
        <h1>Pursuing Data</h1>
    </header>

    <div class="container">
        <main>
            <h2 class="visuallyhidden">Articles</h2>

            <article>
                <header>
                    <h2>How Did I Get Here?</h2>
                    <time datetime="2018-02-24T22:49">Feb 24</time>
                </header>

                <img src="/img/maze.jpg" alt="Red sheet with printed maze">

                <p>Sometimes it feels like playing with, and analyzing numbers was just something I was supposed to do all my life. This is what it looks like:</p>
                <h3>Earliest 'data' memory</h3>
                <p>Camping; Easter eggs all in a row; arranging in decreasing size order.</p>
                <p></p>
                <p></p>
                <h3>Getting into it</h3>
                <h4>Grade 8/9</h4>
                <p>'Math instincts' - I could tell you the answer without being able to tell you how I worked it out. I had to LEARN how to 'show my working' for school!</p>
                <h4>Grade 10</h4>
                <p>Responding to the raised hands of my classmates to help them with their math in class and they were ok with it! Tutoring math was also my first paid job.</p>
                <h4>Grade 10</h4>
                <p>Straight math/science subjects - Why, because I knew I knew how to get the grades if I took those subjects.</p>

                <h3>What's math got to do with psychology?</h3>
                <ul type="square">
                    <li>More than I expected! When I decided to <a href="https://psych.ubc.ca/">study psychology</a>, I wasn't expecting much math. So I was surprised when the matrix multiplication 'that we'd never use again!' came up in our studies.
                    <li>I discovered that statistics and research were some of my favourite parts of my studies.
                    <li>I had plans to get a research PhD when I completed my honours year.
                </ul>

                <p>But life, of course, <a href="https://en.wikipedia.org/wiki/Beautiful_Boy_(Darling_Boy)#Lyrics" rel="noopener noreferrer" target="_blank">is what happens when you're busy making other plans</a>, and by the time my undergrad was finished, I was done! I moved into the workforce, to spend what would be almost 15 years working in the field of homelessness.</p>

                <h3>Can math and social sciences mix?</h3>
                <ul type="square">
                    <li>When I started working in the field, for the longest time I really had to wonder!
                    <li>As a youth worker, and often in homelessness, numbers can seem impersonal, uncaring and not connected to the realities of working on the front-line.
                    <li>But, it helps if you're the boss, and as I have discovered for myself, 'life will out' (via <a href = "http://forum.quoteland.com/eve/forums/a/tpc/f/99191541/m/755107215" rel="noopener noreferrer" target="_blank">far more intelligent sources</a> but for me, the guilty pleasure of Grey's Anatomy). When I started managing a shelter, the love of data and stats started to 'out'.
                    <li>I developed performance standards based on stats staff were already entering about their time spent.
                    <li>I examined the impacts of certain barriers on how long it took our clients to find housing, and thus inform how we managed stays.
                    <li>I was always looking for ways to use numbers to help me better understand the world around me and discovered that while most people seemed to have limited interest in my numbers, if I got the job done, they would humour me!
                </ul>

                <h3>Analyzing data for real!</h3>
                <ul type="square">
                    <li>I started working at the provincial (state) level and actually had 'analyst' in my job title.
                    <li>What had been something that I did mostly for me became something that was useful to a lot more people. Yay!
                    <li>Excel spreadsheets for everything: budget management and projection, understanding performance measures and sampling bias, management and reporting of performance measures, funding distribution recommendations.
                    <li>Somewhere in there I completed an <a href = "https://www.udacity.com/course/intro-to-computer-science--cs101" rel="noopener noreferrer" target="_blank">Intro to Computer Science</a> with - at the time - a tiny MOOC-offering company called Udacity, and learnt the basics of coding in Python).
                    <li>I became convinced - math and social sciences definitely can mix!
                </ul>

                <h3>What did I learn from this time?</h3>
                <ul type="square">
                    <li>Help numbers be about people and not just numbers, make the numbers help tell their story.
                    <li>Expect people to feel intimidated or have limited knowledge of your subject matter, design your presentations to cater to them.
                    <li>Help others learn how numbers can help them!
                </ul>

                <h3>Where I landed</h3>
                <ul type="square">
                    <li>Doing research projects that were about qualitative and quantitative examinations of data.
                    <li>Working with a gerontology research department; we had some work published in the <a href = "https://www.tandfonline.com/eprint/pyJcGSbI88Db92reiVPS/full" rel="noopener noreferrer" target="_blank">Journal of Gerontological Social Work</a>.
                    <li>With the help of <a href = "http://www.bc211.ca/">bc211</a>, made a <a href = "http://housingfirstsupport.ca/resource-map/" rel="noopener noreferrer" target="_blank">site</a> to help people identify resources to help people in Vancouver leave homelessness.
                </ul>

                <h3>Where I'm at now</h3>
                <ul type="square">
                    <li>I thought I was ok having the 'big ideas' and finding other people to do the analysis.
                    <li>I think I might like to have big ideas AND do data analysis, we'll see how it goes. ;)
                </ul>
            </article>
        </main>

        <aside>

            <div class="sidebar-text">
                <h3><a href="https://rebeccaebarnes.github.io">Home</a></h3>

                <div class="PageNavigation">
                    {% if page.previous.url %}
                        <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
                    {% endif %}
                    {% if page.next.url %}
                        <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
                    {% endif %}
                </div>
            </div>
        </aside>
    </div>

    <footer>
    <ul>
        <a href="https://github.com/rebeccaebarnes" rel="noopener noreferrer" target="_blank">github.com/rebeccaebarnes</a>
        <p>The design of this site was gratefully created through a fork of the Udacity <a href="https://github.com/udacity/course-git-blog-project" rel="noopener noreferrer" target="_blank">course-git-blog-project</a> repo.</p>
    </ul>
    </footer>

    <script src="js/app.js"></script>
</body>
</html>
